.textComponent {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 150vh;
}

.memozi-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 15px;
    width: 80%;
    margin-left: 125px;
}

.memozi-header__option__space {
    padding-top: 6px;
    padding-bottom: 6px;
}

.textComponent-header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.memozi-header__label{
    font-size: 25px;
    font-weight: bold;
}

.memozi-textarea__header{
    display: flex;
    justify-content: center;
}
.memozi-textarea {
    width: 80%;
    height: 380px;
    font-family: inherit;
    font-size: large;
}